*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff5722;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    font-weight: bold;
    color: #333; /* Ensures label text is visible */
}

input[type="text"] {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 1rem;
    padding: 0.75rem;
    border: none;
    background-color: #ff5722;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e64a19;
}

.error {
    color: red;
    margin-top: 1rem;
}

.recipes {
    margin-top: 2rem;
}

.recipe {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.image {
    width: 100px;  /* Set a fixed width */
    height: 100px;  /* Set a fixed height */
    object-fit: cover;  /* Ensure the image covers the container */
    margin-right: 1rem;  /* Add margin to separate image from text */
    border-radius: 8px;
}

.text-container {
    padding: 1rem;
    flex: 1;  /* Allows the text container to take up the remaining space */
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
    
}

.title {
    font-size: 1.5rem;
    color: #333;
}

.ingredients,
.instructions {
    font-size: 1rem;
    color: #666;
}

.btn-container {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    gap: 1rem;
}

.edit, .delete {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit {
    background-color: #4caf50;
    color: white;
}

.delete {
    background-color: #f44336;
    color: white;
}
